<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Bed Finder - Account</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/account.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="feedHeader">
                <div class="buttonWrapper whiteText">
                    <button id="homeButton">
                        <img src="/images/left_arrow_white.png" alt="Left arrow"><span>Back to home</span>
                    </button>
                </div>
                <div class="logo">
                    <div>
                        <img src="/images/logo.png" alt="HBF_LOGO">
                    </div>
                    <h1 class="logoName">
                        <a class="whiteText" href="https://hospitalbedfinder.com">H<span class="nameLower">ospital</span> B<span class="nameLower">ed</span> F<span class="nameLower">inder</span></a>
                    </h1>    
                </div>
                <div class="buttonWrapper whiteText">
                    <button id="logoutButton">
                        <span>Logout</span>
                        <img src="/images/logout_white.png" alt="Logout">
                    </button>
                </div>
            </div>
            <div class="spacer"></div>
        </header>
        <main>
            <div class="accountWrapper">
                <div class="imageWrapper">
                    <img src="<%= image %>" alt="Hospital image">
                </div>
                <div class="detailsWrapper">
                    <% if (!validated) { %>
                        <p>Hospital is not validated.</p>
                    <% } %>
                    <ul class="detailsList">
                        <li class="detail">
                            <p class="detailLabel">Name</p>
                            <p class="detailInfo"><%= name %></p>
                        </li>
                        <li class="detail">
                            <p class="detailLabel">Address</p>
                            <p class="detailInfo"><%= location %></p>
                        </li>
                        <li class="detail">
                            <p class="detailLabel">Contact number</p>
                            <p class="detailInfo"><%= contactNum %></p>
                        </li>
                        <li class="detail">
                            <p class="detailLabel">Maximum bed count</p>
                            <p id="maxBeds" class="detailInfo"><%= maxBeds %> </p>
                        </li>
                    </ul>
                    <div class="editWrapper">
                        <button class="editButton">Edit</button>
                    </div>
                    <div class="bedCountWrapper">
                        <p class="detailLabel">Available bed count</p>
                        <div class="upperSection">
                            <span id="availableBedCount"><%= availableBeds %></span>
                            <button id="minusOneChangeBedBtn" class="negativeButton">-1</button>
                            <button id="plusOneChangeBedBtn" class="positiveButton">+1</button>
                        </div>
                        <div class="middleSection">
                            <p>Custom:</p>
                            <input type="text" name="customBedCount" id="customBedCount" maxlength="6" placeholder="Enter custom amount here">
                        </div>
                        <div class="lowerSection">
                            <button id="minusChangeBedBtn" class="negativeButton">-</button>
                            <button id="plusChangeBedBtn" class="positiveButton">+</button>
                        </div>
                        <p id="customBedCountError" class="error"></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    let baseUrl = window.location.origin;

    function Logout(){
        window.location.href = `${baseUrl}/api/logout`;
        return;
    }
    let logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener("click", Logout);

    function BackToHomepage(){
        window.location.href = `${baseUrl}/interface/hospitalFeed`;
        return;
    }
    let homeButton = document.getElementById("homeButton");
    homeButton.addEventListener("click", BackToHomepage);

    document.getElementById("plusOneChangeBedBtn").addEventListener("click", e => {
        ChangeAvailableBeds('+');
    });
    document.getElementById("minusOneChangeBedBtn").addEventListener("click", e => {
        ChangeAvailableBeds('-');
    });
    
    document.getElementById("plusChangeBedBtn").addEventListener("click", e => {
        SubmitCustomBedCount('+');
    });
    document.getElementById("minusChangeBedBtn").addEventListener("click", e => {
        SubmitCustomBedCount('-');
    });



    let changeCounter = 0;
    let requestTimer = null;
    const maxBedCount = document.getElementById("maxBeds");
    const availableBedCount = document.getElementById("availableBedCount");
    const customBedCount = document.getElementById("customBedCount");
    const customBedCountError = document.getElementById("customBedCountError");
    customBedCount.addEventListener("input", function(event){
        let inputValue = this.value;
        inputValue = inputValue.replace(/[^0-9\b]/g,"0");
        this.value = inputValue;
    });

    function ChangeAvailableBeds(sign){
        if (parseInt(availableBedCount.innerText) + parseInt(`${sign}1`) > parseInt(maxBedCount.innerText)){
            if (customBedCountError.innerText == "") customBedCountError.innerText = "The availabled bed count cannot exceed the maximum bed count!";
            return;
        }
        else {
            if (customBedCountError.innerText != "") customBedCountError.innerText = "";
        }

        changeCounter += parseInt(`${sign}1`);
        availableBedCount.innerText = parseInt(availableBedCount.innerText) + parseInt(`${sign}1`);

        if (requestTimer == null){
            requestTimer = setTimeout(SubmitChangeRequest, 3000);
        }

        return;
    }
    
    function SubmitCustomBedCount(sign){
        if (!customBedCount.value){
            if (customBedCountError.innerText == "") customBedCountError.innerText = "Please enter a custom number to add/subtract to the bed count";
            return;
        }

        if (parseInt(availableBedCount.innerText) + parseInt(`${sign}${customBedCount.value}`) > parseInt(maxBedCount.innerText)){
            if (customBedCountError.innerText == "") customBedCountError.innerText = "The availabled bed count cannot exceed the maximum bed count!";
            return;
        }

        if (customBedCountError.innerText != "") customBedCountError.innerText = "";

        changeCounter += parseInt(`${sign}${customBedCount.value}`);
        availableBedCount.innerText = parseInt(availableBedCount.innerText) + parseInt(`${sign}${customBedCount.value}`);
        
        if (requestTimer == null){
            requestTimer = setTimeout(SubmitChangeRequest, 3000);
        }

        return;
    }

    async function SubmitChangeRequest(){
        const countObj = {changeValue: changeCounter};
        fetch(baseUrl + "/api/changeBedValue", {
            method: "post",
            body: JSON.stringify(countObj),
            mode: "cors",
            headers: new Headers({
                "Content-Type": "application/json",
            }),
        });

        changeCounter = 0;
        clearTimeout(requestTimer);
        requestTimer = null;
        return;
    }

</script>
</html>