<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Bed Finder - Account</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <p>Account</p>
    <% if (!validated) { %>
        <p>Hospital is not validated.</p>
    <% } %>
    <%= name %>
    <%= location %>
    <%= contactNum %> 
    <%= maxBeds %> 
    <p id="availableBedCount"><%= availableBeds %></p>
    <button onclick="ChangeAvailableBeds('+')">+1</button>
    <button onclick="ChangeAvailableBeds('-')">-1</button>
    <label for="customBedCount"></label>
    <input type="text" name="customBedCount" id="customBedCount">
    <button onclick="SubmitCustomBedCount('+')">+</button>
    <button onclick="SubmitCustomBedCount('-')">-</button>
    
    <a href="javascript:void(0);" onclick="Logout()">Logout</a>
    <a href="javascript:void(0);" onclick="BackToHomepage()">Back to home</a>
</body>
<script>
    let baseUrl = window.location.origin;

    function Logout(){
        window.location.href = `${baseUrl}/api/logout`;
        return;
    }

    function BackToHomepage(){
        window.location.href = `${baseUrl}/interface/hospitalFeed`;
        return;
    }

    let changeCounter = 0;
    let requestTimer = null;
    const availableBedCount = document.getElementById("availableBedCount");
    const customBedCount = document.getElementById("customBedCount");
    function ChangeAvailableBeds(sign){
        changeCounter += parseInt(`${sign}1`);
        availableBedCount.innerText = parseInt(availableBedCount.innerText) + parseInt(`${sign}1`);

        if (requestTimer == null){
            requestTimer = setTimeout(SubmitChangeRequest, 3000);
        }

        return;
    }
    
    function SubmitCustomBedCount(sign){
        changeCounter += parseInt(`${sign}${customBedCount.value}`);
        availableBedCount.innerText = parseInt(availableBedCount.innerText) + parseInt(`${sign}${customBedCount.value}`);
        
        if (requestTimer == null){
            requestTimer = setTimeout(SubmitChangeRequest, 3000);
        }

        return;
    }

    async function SubmitChangeRequest(){
        const countObj = {changeValue: changeCounter};
        fetch(baseUrl + "/api/changeBedValue", {
            method: "post",
            body: JSON.stringify(countObj),
            mode: "cors",
            headers: new Headers({
                "Content-Type": "application/json",
            }),
        });

        changeCounter = 0;
        clearTimeout(requestTimer);
        requestTimer = null;
        return;
    }

</script>
</html>