<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Bed Finder - Account</title>
</head>
<body>
    <p>Account</p>
    <%= name %>
    <%= location %>
    <%= contactNum %> 
    <%= maxBeds %> 
    <p id="availableBedCount"><%= availableBeds %></p>
    <button onclick="ChangeAvailableBeds(1)">+1</button>
    <button onclick="ChangeAvailableBeds(-1)">-1</button>
    
    
    <a href="javascript:void(0);" onclick="Logout()">Logout</a>
    <a href="javascript:void(0);" onclick="BackToHomepage()">Back to home</a>
</body>
<script>
    let baseUrl = window.location.origin;

    function Logout(){
        window.location.href = `${baseUrl}/api/logout`;
        return;
    }

    function BackToHomepage(){
        window.location.href = `${baseUrl}/interface/hospitalFeed`;
        return;
    }

    const availableBedCount = document.getElementById("availableBedCount");
    function ChangeAvailableBeds(count){
        availableBedCount.innerText = parseInt(availableBedCount.innerText) + count;
        
        const countObj = {changeValue: count};
        fetch(baseUrl + "/api/changeBedValue", {
            method: "post",
            body: JSON.stringify(countObj),
            mode: "cors",
            headers: new Headers({
                "Content-Type": "application/json",
            }),
        });
    }
</script>
</html>